@import "./Variables.scss";
@import "./Mixin.scss";

@font-face {
  font-family: "Merriweather";
  src: url("../public/font/Merriweather/Merriweather-Regular1.woff2");
}
@font-face {
  font-family: "Merriweather-italic";
  src: url("../public/font/Merriweather/Merriweather-italic.woff2");
}
@font-face {
  font-family: "Montserrat";
  src: url("../public/font/Montserrat/Montserrat-Regular.woff2");
}

.LayoutWidth {
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
  padding-top: 38px;
}
.LayoutWidthDark {
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
  padding-top: 38px;
}
.Appheader {
  @include Font_Montserrat_regular(1.8rem);
}
.AppheaderPost {
  @include Font_Montserrat_regular(1.3rem);
  box-shadow: none;
  text-decoration: none;
  color: rgb(255, 167, 196) !important;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 42px;
  line-height: 2.625rem;
}
.pinkcolor {
  color: rgb(255, 167, 196) !important;
}
.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px rgb(255, 167, 196) !important;
  -moz-box-shadow: 0px 0px 3px 2px rgb(255, 167, 196) !important;
  box-shadow: 0px 0px 2px 3px rgb(255, 167, 196) !important;
}
.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb,
.react-toggle:focus {
  box-shadow: 0px 0px 5px 5px $textLink !important;
}
.react-toggle--checked .react-toggle-track {
  background-color: #0f1114 !important;
}
.react-toggle--checked .react-toggle-thumb {
  border-color: unset !important;
}
.react-toggle-thumb {
  border: unset !important;
}
.myimg {
  margin-bottom: 0;
  margin-right: 10px;
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 50%;
}
.myparagraph {
  max-width: 310px;
  @include Font_Merriweather_regular(0.91rem);
}
a {
  box-shadow: 0 1px 0 0 currentColor;
  color: $textLink !important;
  text-decoration: none;
  &:hover {
    text-decoration: none !important;
    box-shadow: none !important;
  }
}
h3 {
  font-family: "Montserrat";
  font-size: 1.7rem;
  margin-bottom: 0.4375rem;
  color: $textLink !important;
}
small {
  font-size: 80%;
}
.Merriweather {
  font-family: "Merriweather";
}
.Montserrat {
  font-family: "Montserrat";
}
p {
  font-family: "Merriweather";
  font-size: 0.9rem !important;
}
.myfooter {
  font-family: "Merriweather";
  font-size: 15px;
  margin-top: 4.375rem;
  padding-top: 1.75rem;
}
.float-right {
  float: right;
}
.fs-7 {
  font-size: 12px;
}
