@font-face {
  font-family: "Merriweather";
  src: url("../public/font/Merriweather/Merriweather-Regular1.woff2");
}

@font-face {
  font-family: "Merriweather-italic";
  src: url("../public/font/Merriweather/Merriweather-italic.woff2");
}

@font-face {
  font-family: "Montserrat";
  src: url("../public/font/Montserrat/Montserrat-Regular.woff2");
}

.LayoutWidth {
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
  padding-top: 38px;
}

.LayoutWidthDark {
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
  padding-top: 38px;
}

.Appheader {
  font-family: "Montserrat" !important;
  font-size: 1.8rem !important;
}

.AppheaderPost {
  font-family: "Montserrat" !important;
  font-size: 1.3rem !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: none;
  color: #ffa7c4 !important;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 42px;
  line-height: 2.625rem;
}

.pinkcolor {
  color: #ffa7c4 !important;
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px #ffa7c4 !important;
  box-shadow: 0px 0px 2px 3px #ffa7c4 !important;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb,
.react-toggle:focus {
  -webkit-box-shadow: 0px 0px 5px 5px #d23669 !important;
          box-shadow: 0px 0px 5px 5px #d23669 !important;
}

.react-toggle--checked .react-toggle-track {
  background-color: #0f1114 !important;
}

.react-toggle--checked .react-toggle-thumb {
  border-color: unset !important;
}

.react-toggle-thumb {
  border: unset !important;
}

.myimg {
  margin-bottom: 0;
  margin-right: 10px;
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 50%;
}

.myparagraph {
  max-width: 310px;
  font-family: "Merriweather" !important;
  font-size: 0.91rem !important;
}

a {
  -webkit-box-shadow: 0 1px 0 0 currentColor;
          box-shadow: 0 1px 0 0 currentColor;
  color: #d23669 !important;
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

h3 {
  font-family: "Montserrat";
  font-size: 1.7rem;
  margin-bottom: 0.4375rem;
  color: #d23669 !important;
}

small {
  font-size: 80%;
}

.Merriweather {
  font-family: "Merriweather";
}

.Montserrat {
  font-family: "Montserrat";
}

p {
  font-family: "Merriweather";
  font-size: 0.9rem !important;
}

.myfooter {
  font-family: "Merriweather";
  font-size: 15px;
  margin-top: 4.375rem;
  padding-top: 1.75rem;
}

.float-right {
  float: right;
}

.fs-7 {
  font-size: 12px;
}
/*# sourceMappingURL=Global.css.map */