@import "./Variables.scss";

@mixin Font_Merriweather_regular($fontsize) {
  font-family: "Merriweather" !important;
  font-size: $fontsize !important;
}
@mixin Font_Merriweather_italic($fontsize) {
  font-family: "Merriweather-italic" !important;
  font-size: $fontsize !important;
}
@mixin Font_Montserrat_regular($fontsize) {
  font-family: "Montserrat" !important;
  font-size: $fontsize !important;
}
